.steps {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-step {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.circle-step-focus {
    padding: 7px;
    border-radius: 43px;
    width: 48px;
    height: 48px;
    box-shadow:  -9px -9px 35px #FFFFFF, 9px 9px 35px #a3b3cc, 2px 2px 15px #11F215;
    background: #11F215 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: var(--primary);
    font-size: 23px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 7px;
    margin-left: 7px;

}

.circle-step {
    padding: 7px;
    border-radius: 43px;
    width: 48px;
    height: 48px;
    box-shadow:  -9px -9px 35px #FFFFFF, 9px 9px 35px #b0bed4 ;
    background-color: #E6F0FC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: var(--title);
    font-size: 23px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 7px;
}

.text-step {
   color: var(--title);
}

.box-step-focus {
    color: var(--title);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.row-white {
    height: 2px;
    background-color: white;
    width: 35px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5vh;
}

.row-green{
    height: 2px;
    background-color: var(--btn-two);
    width: 35px;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 5vh;
}

@media only screen and (max-width: 992px) {
    .steps {
        width: 600px;
    }
}


@media only screen and (max-width: 768px) {

    .steps {
        width: 70% !important;
        margin: 0  auto;
        
 
    }
    .circle-step-focus {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        font-size: 15px;
        box-shadow:  -9px -9px 35px #FFFFFF,8px 8px 35px #abb4c2, 2px 2px 15px #11F215;
        background: #11F215 0% 0% no-repeat padding-box;
    }

    

    .circle-step {
        width: 45px;
        height: 45px;
        font-size: 18px;
        box-shadow:  -9px -9px 35px #FFFFFF, 8px 8px 35px #abb4c2 ;
        background-color: #E6F0FC;
    }

    .row-white {
        width: 25px;
        margin-left: 0;
        margin-right: 0;
    }
    .text-step {
        font-size: 18px;
    }
  }
  
  @media only screen and (max-width: 576px) {
   
        .steps {
            width: 71% !important;
            margin:  auto;
     
        }
 
    
    .circle-step-focus {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-size: 15px;
        box-shadow:  -9px -9px 35px #FFFFFF,8px 8px 35px #abb4c2, 2px 2px 15px #11F215;
        background: #11F215 0% 0% no-repeat padding-box;
    }

    

    .circle-step {
        width: 35px;
        height: 35px;
        font-size: 15px;
        box-shadow:  -9px -9px 35px #FFFFFF, 8px 8px 35px #abb4c2 ;
        background-color: #E6F0FC;
    }

    .row-white {
        width: 25px;
        margin-left: 0;
        margin-right: 0;
    }
    .text-step {
        font-size: 13px;
    }
  }
  